<% provide(:title, "Home") %>
<center><figure class="logo"></figure></center>
<style type="text/css">
  .logo {
  	margin-top: 70px;
  	background-size: 458px 90px;
    height: 90px;
    width: 458px;
    background-image: url("<%= image_path("logo.png") %>");
 }
</style>

<center><div class="search-bar">
<%= form_tag("/search", method: "get") do%>
  <%= text_field_tag(:q) %>
  <%= button_tag "Search", value: "Search", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  <br>
  <% if !(@current_user.nil?) && @current_user.memberType == "Paid" %>
    <%= check_box_tag(:freq_words)%>
    <span> Show words that frequently appear with your search </span>
  <%end%>
<% end %>
</div></center>
