<div class="control">
  <input type="checkbox" id="twitterCheck">Twitter<br>
  <input type="checkbox" id="instagramCheck">Instagram<br>
  <input type="checkbox" id="googleCheck">Google+<br>
  <br><br>
  <input type="checkbox" id="dateCheck">Date<br>
  <input type="checkbox" id="popularityCheck">Popularity<br>
  <input type="checkbox" id="sizeCheck">Size<br>
  <br><br>
</div>
<canvas id="infoVis" width="800" height="800"></canvas>
<br><br>
<div id="result" class="mdl-card mdl-shadow--2dp">
  <div>
    <a onclick="close_button()"><h5 class="close-button">x</h5></a>
  </div>
	<div class="mdl-card__title mdl-card--expand">
		<p id="chosenResult"></p>
	</div>
</div>
<style>
.mdl-card {
	background-color: indigo;
  width: 400px;
  top: 100px;
  right: 50px;
  position: absolute;
  display: none;
}
.mdl-card__title {
  color: white;
}
.close-button {
  position: relative;
  margin: 5px;
  text-align: right;
  color: white;
}
.control {
  position: relative;
}
</style>
<script type="text/javascript">
  function close_button() {
    document.getElementById("result").style.display = "none";
  }
</script>

<script type="text/javascript">
//Global arrays
  tweets = [];
  instagrams = [];
  googles = [];

//Global tweet max / min values
  shortestTweet = 9999999999;
  longestTweet = 0;
  oldestTweet = 9999999999;
  mostRecentTweet = 0;
  mostPopularTweet = 0;
  leastPopularTweet = 9999999999;

//Global google max / min values
  shortestGoogle = 9999999999;
  longestGoogle = 0;
  oldestGoogle = 9999999999;
  mostRecentGoogle = 0;
  leastPopularGoogle = 9999999999;
  mostPopularGoogle = 0;

//Global instagram max / min values
  smallestInstagram = 9999999999;
  largestInstagram = 0;
  oldestInstagram = 9999999999;
  mostRecentInstagram = 0;
  leastPopularInstagram = 9999999999;
  mostPopularInstagram = 0;

//Function to avoid duplicate tweet entries
  function checkIfTweetExists(element) {
    for (var i = 0; i < tweets.length; i++) { if (tweets[i].textvalue == element.textvalue) { return true;}}
    return false;
  }

//Function to change a tweet time stamp to an int value
//Format: 2015-11-28 19:48:26 UTC
  function getTweetTimeValue(time) {
    var temp;
    var sum = 0;
    temp = parseInt(time.substring(0, 4));
    sum += (temp - 2000) * 15;
    temp = parseInt(time.substring(5, 7));
    sum += (temp) * 10;
    temp = parseInt(time.substring(8, 10));
    sum += (temp) * 7;
    temp = parseInt(time.substring(11, 13));
    sum += (temp) * 4;
    temp = parseInt(time.substring(14, 16));
    sum += (temp) * 2;
    temp = parseInt(time.substring(17, 19));
    sum += temp;
    return sum;
  }

//Function to change a google+ time stamp to an int value
//Format: 2015-11-28T18:33:10.896Z
  function getGoogleTimeValue(time) {
    var temp;
    var sum = 0;
    var temp = parseInt(time.substring(0, 4));
    sum += (temp - 2000) * 15;
    var temp = parseInt(time.substring(5, 7));
    sum += (temp) * 10;
    var temp = parseInt(time.substring(8, 10));
    sum += (temp) * 7;
    var temp = parseInt(time.substring(11, 13));
    sum += (temp) * 4;
    var temp = parseInt(time.substring(14, 16));
    sum += (temp) * 2;
    var temp = parseInt(time.substring(17, 19));
    sum += temp;
    return sum;
  }

//Function to change the instagram time stamp to an int value
//Format: 1279340983
  function getInstagramTimeValue(time) {
    var date = new Date (parseInt(time) * 1000);
    var temp = date.getYear();
    var sum = 0;
    temp += 1900;
    sum += (temp - 2000) * 15;
    temp = date.getMonth();
    sum += (temp) * 10;
    temp = date.getDay();
    sum += (temp) * 7;
    temp = date.getHours();
    sum += (temp) * 4;
    temp = date.getMinutes();
    sum += (temp) * 2;
    temp = date.getSeconds();
    sum += temp;

    return sum;
  }
</script>

<% provide(:title, 'Search') %>
<%= button_tag "Send results to my email" %>
<script>
$("button").click(function() {
  $.ajax({
    type: "POST",
    url: "/mailresults",
    success: function(data) {
      if (data.status == "404")
        alert(data.error);
      else
        alert("Email sent.");
    }
  });
});
</script>

<% no_results = true %>


<% if !@googleplus.items.nil? %>
  <% no_results = false %>
  <% @googleplus.items.each do |google| %>
    <script type="text/javascript">
      var canvas = document.getElementById("infoVis");
      var ctx = canvas.getContext("2d");

//Creating a google
      var google = new Object();
      var time = ("<%= (google.published) %>");
      var text = ("<%= escape_javascript (google.object.content) %>");
      google.time = getGoogleTimeValue(time);
      google.popularity = ("<%= (google.object.plusoners.total_items) %>") + ("<%= (google.object.resharers.total_items) %>");
      google.textValue = text;
      google.textLength = (text.length) / 50;
      google.radius = google.textLength;
      google.hit = false;
      google.hovered = false;
      google.x = google.textLength;
      google.y = google.textLength;

//Update the global min / max values
      if (google.textLength < shortestGoogle) { shortestGoogle = google.textLength;
      } else if (google.textLength > longestGoogle) { longestGoogle = google.textLength;}

      if (google.time < oldestGoogle) { oldestGoogle = google.time;
      } else if (google.time > mostRecentGoogle) { mostRecentGoogle = google.time;}

      if (google.popularity < leastPopularGoogle) { leastPopularGoogle = google.popularity;
      } else if (google.popularity > mostPopularGoogle) { mostPopularGoogle = google.popularity;}

      googles.push(google);
    </script>

  <% end %>
<% end %>

<% tweet_count = 0 %>
<% @twitter.each do |tweet| %>
    <% tweet_count = tweet_count + 1 %>
<% end %>

<% if tweet_count != 0 %>
  <% no_results = false %>
  <% tweet_count = 0 %>
  <% @twitter.each do |tweet| %>
    <script type="text/javascript">
      var canvas = document.getElementById("infoVis");
      var ctx = canvas.getContext("2d");

//Creating a tweet
      var tweet = new Object();
      var time = ("<%= (tweet.created_at) %>");
      var text = ("<%= escape_javascript (tweet.text) %>");
      tweet.time = getTweetTimeValue(time);
      tweet.popularity = parseInt("<%= (tweet.favorite_count) %>") + parseInt("<%= (tweet.retweet_count) %>");
      tweet.textvalue = text;
      tweet.textlength = (text.length) / 10;
      tweet.radius = tweet.textlength;
      tweet.hit = false;
      tweet.hovered = false;
      tweet.x = tweet.textlength;
      tweet.y = tweet.textlength;

//If we're adding the tweet to the array, update the points of the spectrum for length, date and popularity
      if (checkIfTweetExists(tweet) == false) {
        if (tweet.textlength < shortestTweet) { shortestTweet = tweet.textlength;
        } else if(tweet.textlength > longestTweet) { longestTweet = tweet.textlength;}

        if (tweet.time < oldestTweet) { oldestTweet = tweet.time;
        } else if (tweet.time > mostRecentTweet) { mostRecentTweet = tweet.time;}

        if (tweet.popularity < leastPopularTweet) { leastPopularTweet = tweet.popularity;
        } else if (tweet.popularity > mostPopularTweet) { mostPopularTweet = tweet.popularity;}
        tweets.push(tweet);
      }
    </script>

<!--
    <p><%= tweet.text %></p>
    <a href=<%='#' + tweet_count.to_s %> class="btn btn-info" data-toggle="collapse">Sentiment Info</a>
      <div id=<%=tweet_count.to_s %> class="collapse">
        <p><%= @tweet_sentiment[tweet_count]%></p>
        <% if @tweet_sentiment[tweet_count] > 0 %>
          <p>:)</p>
        <% elsif @tweet_sentiment[tweet_count] < 0 %>
          <p>:(</p>
        <%else%>
          <p>:|</p>
        <%end%>
          <% tweet_count = tweet_count + 1 %>
      </div>
    </a>
-->
  <% end %>
  <h5> The tweets had a tendency to be:
  <% if @tweet_sentiment.inject{ |sum, el| sum + el }.to_f / @tweet_sentiment.size > 0%>
    <%= 'Positive' %>
  <% elsif @tweet_sentiment.inject{ |sum, el| sum + el }.to_f / @tweet_sentiment.size < 0%>
    <%= 'Negative' %>
  <% else %>
    <%= 'Neutral' %>
  <%end%>
</h5>
<% end %>

<% if !@instagram.nil? %>
 <% no_results = false %>
 <% @instagram.each do |inst| %>
   <script type="text/javascript">
     var canvas = document.getElementById("infoVis");
     var ctx = canvas.getContext("2d");

//Creating an instagram
     var instagram = new Object();
     var time = ("<%= inst.created_time %>");
     instagram.time = getInstagramTimeValue(time);
     instagram.popularity = parseInt("<%= inst.likes[:count] %>"); //count is a reserved word, so we have to use a nested notation instead
     instagram.imageSize = ("<%= inst.images.standard_resolution.width %>") * ("<%= inst.images.standard_resolution.height %>");
     instagram.imageURL = ("<%= inst.images.standard_resolution.url %>");
     instagram.radius = instagram.imageSize / 100;
     instagram.hit = false;
     instagram.hovered = false;
     instagram.x = 0;
     instagram.y = 0;

//Update the global min / max values
     if (instagram.imageSize < smallestInstagram) { smallestInstagram = instagram.imageSize;
     } else if (instagram.imageSize > largestInstagram) { largestInstagram = instagram.imageSize;}

     if (instagram.time < oldestInstagram) { oldestInstagram = instagram.time;
     } else if (instagram.time > mostRecentInstagram) { mostRecentInstagram = instagram.time;}

     if (instagram.popularity < leastPopularInstagram) { leastPopularInstagram = instagram.popularity;
     } else if (instagram.popularity > mostPopularInstagram) { mostPopularInstagram = instagram.popularity;}

     instagrams.push(instagram);
   </script>


 <% end %>
<% end %>

<% if no_results %>
  <h1> Your search for:</h1>
    <h2><%= @query %></h2>
  <h1>returned no results</h1>
<% end %>

<script type="text/javascript">
//Update the tweet relative attributes
  updateTweetTimes("ascending");
  updateTweetLengths("ascending");
  updateTweetPopularity("ascending");
  if (document.getElementById("twitterCheck").checked) {drawTweets(); }

//Update the google relative attributes
  updateGoogleTimes("ascending");
  updateGoogleLengths("ascending");
  updateGooglePopularity("ascending");
  if (document.getElementById("googleCheck").checked) {drawGoogles(); }

//Update the instagram relative attributes
  updateInstagramTimes("ascending");
  updateInstagramLengths("ascending");
  updateInstagramPopularity("ascending");
  if (document.getElementById("instagramCheck").checked) {drawInstagrams(); }

  var canvas = document.getElementById("infoVis");
  var ctx = canvas.getContext("2d");
  var rect = canvas.getBoundingClientRect();

//Hovering funcionality for all nodes
  canvas.addEventListener("mousemove", function(event) {
//Calculate the X and Y positions of the mouse
    var mouseX = event.clientX - rect.left;
    var mouseY = event.clientY - rect.top;

//Tweets functionality
    if (document.getElementById("twitterCheck").checked) {
      for (var i = 0; i < tweets.length; i++) {
        if (mouseX > tweets[i].x - (tweets[i].radius) && mouseX < tweets[i].x + (tweets[i].radius) && mouseY > tweets[i].y - (tweets[i].radius) && mouseY < tweets[i].y + (tweets[i].radius) && tweets[i].hit == false) {
          drawPoint(tweets[i], '#ff944d', '#006080');
        } else if (tweets[i].hit == false) { drawPoint(tweets[i], '#00c0ff', '#006080');}
      }
    }

//Instagram functionality
    if (document.getElementById("instagramCheck").checked) {
      for (var i = 0; i < instagrams.length; i++) {
        if (mouseX > instagrams[i].x - (instagrams[i].radius) && mouseX < instagrams[i].x + (instagrams[i].radius) && mouseY > instagrams[i].y - (tweets[i].radius) && mouseY < instagrams[i].y + (tweets[i].radius) && instagrams[i].hit == false) {
          drawPoint(instagrams[i], '#ff944d', '#006080');
        } else if (instagrams[i].hit == false) { drawPoint(instagrams[i], '#00c0ff', '#006080');}
      }
    }

//Google+ functionality
    if (document.getElementById("googleCheck").checked) {
      for (var i = 0; i < googles.length; i++) {
        if (mouseX > googles[i].x - (googles[i].radius) && mouseX < googles[i].x + (googles[i].radius) && mouseY > googles[i].y - (googles[i].radius) && mouseY < googles[i].y + (googles[i].radius) && googles[i].hit == false) {
          drawPoint(googles[i], '#ff944d', '#006080');
        } else if (googles[i].hit == false) { drawPoint(googles[i], '#00c0ff', '#006080');}
      }
    }
  });

//Clicking functionality to show that the node is active and to display information
  canvas.addEventListener("click", function(event) {
    var oneHit = false;

//Tweets functionality
    if (document.getElementById("twitterCheck").checked) {
      for (var i = 0; i < tweets.length; i++) {
        var mouseX = event.clientX - rect.left;
        var mouseY = event.clientY - rect.top;
        if (mouseX > tweets[i].x - (tweets[i].radius) && mouseX < tweets[i].x + (tweets[i].radius) && mouseY > tweets[i].y - (tweets[i].radius) && mouseY < tweets[i].y + (tweets[i].radius)) {
          tweets[i].hit = true;
          oneHit = true;
          document.getElementById("chosenResult").innerHTML = tweets[i].textvalue;
          drawPoint(tweets[i], '#5cd65c', '#006080');
        } else { tweets[i].hit = false;}
      }
    }

//Instagram functionality
    if (document.getElementById("instagramCheck").checked) {
      for (var i = 0; i < instagrams.length; i++) {
        var mouseX = event.clientX - rect.left;
        var mouseY = event.clientY - rect.top;
        if (mouseX > instagrams[i].x - (instagrams[i].radius) && mouseX < instagrams[i].x + (instagrams[i].radius) && mouseY > instagrams[i].y - (instagrams[i].radius) && mouseY < instagrams[i].y + (instagrams[i].radius)) {
          instagrams[i].hit = true;
          oneHit = true;
          //Figure out a way to add the image to the result div here
          //document.getElementById("chosenResult").innerHTML = instagrams[i].textvalue;
          drawPoint(instagrams[i], '#5cd65c', '#006080');
        } else { instagrams[i].hit = false;}
      }
    }

//Google+ functionality
    if (document.getElementById("googleCheck").checked) {
      for (var i = 0; i < googles.length; i++) {
        var mouseX = event.clientX - rect.left;
        var mouseY = event.clientY - rect.top;
        if (mouseX > googles[i].x - (googles[i].radius) && mouseX < googles[i].x + (googles[i].radius) && mouseY > googles[i].y - (googles[i].radius) && mouseY < googles[i].y + (googles[i].radius)) {
          googles[i].hit = true;
          oneHit = true;
          document.getElementById("chosenResult").innerHTML = googles[i].textValue;
          drawPoint(googles[i], '#5cd65c', '#006080');
        } else { googles[i].hit = false;}
      }
    }

    if (oneHit == false) {
      document.getElementById("chosenResult").innerHTML = "";
      document.getElementById("result").style.display = "none";
    } else { document.getElementById("result").style.display = "block"; }
  });


//TWITTER
  function drawTweets() { for (var i = 0; i < tweets.length; i++) { drawPoint(tweets[i], '#00c0ff', '#006080');}}

  function updateTweetTimes(sorting) {
    if (sorting == "ascending") {
      for (var i = 0; i < tweets.length; i++) {
        tweets[i].time = (tweets[i].time - oldestTweet) * 10;
        tweets[i].time += 30;
      }
    } else {
      for (var i = 0; i < tweets.length; i++) {
        tweets[i].time = (mostRecentTweet - tweets[i].time) * 10;
        tweets[i].time += 30;
      }
    }
  }

  function updateTweetLengths(sorting) {
    if (sorting == "ascending") {
      for (var i = 0; i < tweets.length; i++) {
        tweets[i].textlength = (tweets[i].textlength - shortestTweet) * 30;
        tweets[i].textlength += 60;
        tweets[i].radius = tweets[i].textlength / 15;
      }
    } else {
      for (var i = 0; i < tweets.length; i++) {
        tweets[i].textlength = (longestTweet - tweets[i].textlength) * 30;
        tweets[i].textlength += 60;
        tweets[i].radius = tweets[i].textlength / 15;
      }
    }
  }

  function updateTweetPopularity(sorting) {
    if (sorting == "ascending") {
      for (var i = 0; i < tweets.length; i++) {
        tweets[i].popularity = (tweets[i].popularity - leastPopularTweet) * 30;
        tweets[i].popularity += 60;
      }
    } else {
      for (var i = 0; i < tweets.length; i++) {
        tweets[i].popularity = (mostPopularTweet - tweets[i].popularity) * 30;
        tweets[i].popularity += 60;
      }
    }
  }

  function updateTweetsX(type) {
    if (type == "date") {
      for (var i = 0; i < tweets.length; i++) { tweets[i].x = tweets[i].time;}
    } else if (type == "popularity") {
      for (var i = 0; i < tweets.length; i++) { tweets[i].x = tweets[i].popularity;}
    } else if (type == "size") {
      for (var i = 0; i < tweets.length; i++) { tweets[i].x = tweets[i].textlength;}
    }
  }

  function updateTweetsY(type) {
    if (type == "date") {
      for (var i = 0; i < tweets.length; i++) { tweets[i].y = tweets[i].time;}
    } else if (type == "popularity") {
      for (var i = 0; i < tweets.length; i++) { tweets[i].y = tweets[i].popularity;}
    } else if (type == "size") {
      for (var i = 0; i < tweets.length; i++) { tweets[i].y = tweets[i].textlength;}
    }
  }

//GOOGLEPLUS
  function drawGoogles() {
    for (var i = 0; i < googles.length; i++) { drawPoint(googles[i], '#ff4d4d', '#990000');}
  }

  function updateGoogleTimes(sorting) {
    if (sorting == "ascending") {
      for (var i = 0; i < googles.length; i++) {
        googles[i].time = (googles[i].time - oldestGoogle) * 3.5;
        googles[i].time += 30;
      }
    } else {
      for (var i = 0; i < googles.length; i++) {
        googles[i].time = (mostRecentGoogle - googles[i].time) * 3.5;
        googles[i].time += 30;
      }
    }
  }

  function updateGoogleLengths(sorting) {
    if (sorting == "ascending") {
      for (var i = 0; i < googles.length; i++) {
        googles[i].textLength = (googles[i].textLength - shortestGoogle) * 30;
        googles[i].textLength += 60;
        googles[i].radius = googles[i].textLength / 150;
      }
    } else {
      for (var i = 0; i < googles.length; i++) {
        googles[i].textLength = (longestGoogle - googles[i].textLength) * 30;
        googles[i].textLength += 60;
        googles[i].radius = googles[i].textLength / 150;
      }
    }
  }

  function updateGooglePopularity(sorting) {
    if (sorting == "ascending") {
      for (var i = 0; i < googles.length; i++) {
        googles[i].popularity = (googles[i].popularity - leastPopularGoogle);
        googles[i].popularity += 120;
      }
    } else {
      for (var i = 0; i < googles.length; i++) {
        googles[i].popularity = (mostPopularGoogle - googles[i].popularity);
        googles[i].popularity += 120;
      }
    }
  }

  function updateGooglesX(type) {
    if (type == "date") {
      for (var i = 0; i < googles.length; i++) { googles[i].x = googles[i].time;}
    } else if (type == "popularity") {
      for (var i = 0; i < googles.length; i++) { googles[i].x = googles[i].popularity;}
    } else if (type == "size") {
      for (var i = 0; i < googles.length; i++) { googles[i].x = googles[i].textLength;}
    }
  }

  function updateGooglesY(type) {
    if (type == "date") {
      for (var i = 0; i < googles.length; i++) { googles[i].y = googles[i].time;}
    } else if (type == "popularity") {
      for (var i = 0; i < googles.length; i++) { googles[i].y = googles[i].popularity;}
    } else if (type == "size") {
      for (var i = 0; i < googles.length; i++) { googles[i].y = googles[i].textLength;}
    }
  }

//INSTAGRAM
  function drawInstagrams() {
    for (var i = 0; i < instagrams.length; i++) { drawPoint(instagrams[i], '#ffeb99', '#b38f00');}
  }

  function updateInstagramTimes(sorting) {
    if (sorting == "ascending") {
      for (var i = 0; i < instagrams.length; i++) {
        instagrams[i].time = (instagrams[i].time - oldestInstagram) * 3.5;
        instagrams[i].time += 30;
      }
    } else {
      for (var i = 0; i < instagrams.length; i++) {
        instagrams[i].time = (mostRecentInstagram - instagrams[i].time) * 3.5;
        instagrams[i].time += 30;
      }
    }
  }

  function updateInstagramLengths(sorting) {
    if (sorting == "ascending") {
      for (var i = 0; i < instagrams.length; i++) {
        instagrams[i].imageSize = (instagrams[i].imageSize - smallestInstagram) * 30;
        instagrams[i].imageSize += 60;
        instagrams[i].radius = instagrams[i].imageSize / 250000;
      }
    } else {
      for (var i = 0; i < instagrams.length; i++) {
        instagrams[i].imageSize = (largestInstagram - instagrams[i].imageSize) * 30;
        instagrams[i].imageSize += 60;
        instagrams[i].radius = instagrams[i].imageSize / 250000;
      }
    }
  }

  function updateInstagramPopularity(sorting) {
    if (sorting == "ascending") {
      for (var i = 0; i < instagrams.length; i++) {
        instagrams[i].popularity = (instagrams[i].popularity - leastPopularInstagram);
        instagrams[i].popularity = instagrams[i].popularity / 10000;
      }
    } else {
      for (var i = 0; i < instagrams.length; i++) {
        instagrams[i].popularity = (mostPopularInstagram - instagrams[i].popularity);
        instagrams[i].popularity = instagrams[i].popularity / 10000;
      }
    }
  }

  function updateInstagramsX(type) {
    if (type == "date") {
      for (var i = 0; i < instagrams.length; i++) { instagrams[i].x = instagrams[i].time;}
    } else if (type == "popularity") {
      for (var i = 0; i < instagrams.length; i++) { instagrams[i].x = instagrams[i].popularity;}
    } else if (type == "size") {
      for (var i = 0; i < instagrams.length; i++) { instagrams[i].x = instagrams[i].textLength;}
    }
  }

  function updateInstagramsY(type) {
    if (type == "date") {
      for (var i = 0; i < instagrams.length; i++) { instagrams[i].y = instagrams[i].time;}
    } else if (type == "popularity") {
      for (var i = 0; i < instagrams.length; i++) { instagrams[i].y = instagrams[i].popularity;}
    } else if (type == "size") {
      for (var i = 0; i < instagrams.length; i++) { instagrams[i].y = instagrams[i].textLength;}
    }
  }

//Function to draw any point
  function drawPoint(point, fillColor, strokeColor) {
    ctx.fillStyle = fillColor;
    ctx.strokeStyle = strokeColor;
    ctx.beginPath();
    ctx.arc(point.x, point.y, point.radius, 0, 2 * Math.PI, false);
    ctx.fill();
    ctx.lineWidth = 1;
    ctx.stroke();
  }

//Control functions
  document.getElementById("twitterCheck").addEventListener('change', redraw);
  document.getElementById("instagramCheck").addEventListener('change', redraw);
  document.getElementById("googleCheck").addEventListener('change', redraw);

//Redraw function, called each time an update in controls happens
  function redraw() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    if (document.getElementById("twitterCheck").checked) {
      if (document.getElementById("dateCheck").checked) {updateTweetsY("date"); }
      if (document.getElementById("popularityCheck").checked) {updateTweetsX("popularity"); }
      //if (document.getElementById("sizeCheck").checked) {updateTweetsX("size"); }
      drawTweets();
    }

    if (document.getElementById("googleCheck").checked) {
      if (document.getElementById("dateCheck").checked) {updateGooglesY("date"); }
      if (document.getElementById("popularityCheck").checked) {updateGooglesX("popularity"); }
      drawGoogles();
    }

    if (document.getElementById("instagramCheck").checked) {
      if (document.getElementById("dateCheck").checked) {updateInstagramsY("date"); }
      if (document.getElementById("popularityCheck").checked) {updateInstagramsX("popularity"); }
      drawInstagrams();
    }
  }
</script>

<% if @freq_search_option  && @current_user.memberType == "Paid" %>
 <h1>Frequent Patterns</h1>
 <%if !@freq_words.nil? %>
  <%@freq_words.each do |p| %>
    <%= form_tag("/search", method: "get") do%>
      <h5><%=p%>
      <%=hidden_field_tag "q", p%>
      <%=hidden_field_tag "freq_words", 1%>
      <%= button_tag "Quick Search", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", id: "quick_search" %>
      </h5>
    <%end%>
  <%end%>
<%end%>

<% end %>
